

body{
    font-family: "Quicksand", sans-serif;
}
.numberbtn::-webkit-inner-spin-button,
  .numberbtn::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

@import "tailwindcss"
